body {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron {
  background-color: rgb(194, 177, 130, .02);
}

/* .jumbotron-img{
background-image: url('/assets/img/burgerss.jpeg');
background-size: cover;
background-repeat: no-repeat;
} */

.jumbo-text {
  color: #050d1a;
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  /* background: #faebd7; */
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.change-devour{
  margin: 8px;
}

.delete-burger {
  margin-left: 5px;
}
