<li>
    {{burger_name}}
    {{#if devoured}}
    <div class="container">
        <button class="change-devour btn btn-secondary btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">
            Devour!
    </div>
    </button>

    {{/if}}
    <button class="delete-burger btn btn-secondary btn-sm" data-id="{{this.id}}">DELETE</button>
</li>